/*global styles*/
*{
    margin:0px;
    padding:0px;
}
/*macro-containers*/
body{
    font-family: 'Roboto', sans-serif;
}
.grid-container{
    max-height:100vh;
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,25%);
}
/*header area*/
header{
    width:100%;
    height:60px;
    grid-column:1/5;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.google-controls__container{
    width:260px;
    height:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.google-controls__container a{
    text-decoration: none;
    color:#000;
}
.google-controls__container > a:hover{
    text-decoration:underline;
}
/*google menu buttons*/
.google-menu{
    height:24px;
    width:24px;
    border-radius:50%;
    padding:8px;
}
.google-menu:hover{
    background:lightgrey;
    cursor:pointer;
}
.google-user{
    height:40px;
    width:40px;
    border-radius:50%;
}
.google-user:hover{
    background:lightgrey;
    cursor:pointer;
}
/*google apps area*/
.google-apps-toggle{
    position:absolute;
    display:none;
    right:20px;
    top:50px;
    padding:15px;
    width:330px;
    height:400px;
    box-sizing:border-box;
    z-index:100;
}
.toogle-apps__container:hover > .google-apps-toggle,.google-apps-toggle:hover{
    display:block;
}
.google-apps-toggle__box{
    width:100%;
    height:100%;
    overflow-y:auto;
    background:#fff;
    border-radius:8px;
    padding:15px;
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    box-shadow:1px 1px 5px #000;
}
.google-apps-toggle__item{
    width:70px;
    height:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:8px;
    margin:5px;
}
.google-apps-toggle__item:hover{
    background:#EBF8FF;
}
.google-apps-toggle__item img{
    width:auto;
    height:40px;
    border-radius:50%;
    margin:4px;
}
.google-apps-toggle__box::scrollbar-thumb{
    background:#5f6368;
    border-radius:5px;
}
/*account area*/
.google-account-toggle__item{
    height:auto;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#5f6368;
    border-bottom:1px solid #DEDEDE;
}
.google-account-toggle__item a{
    padding:5px;
}
.google-account-toggle__item a:hover{
    background:#EBF8FF;
}
.google-account-toggle__item input:hover{
    background:#EBF8FF;
    cursor:pointer;
}
.google-user-icon{
    height:80px;
    width:auto;
    border-radius:50%;
    margin:5px;

}
.google-account-toggle__item__container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.btn-admin-accounts{
    margin:15px 0px;
    border-radius:20px;
    border:1px solid #D1D1D1;
    padding:10px;
    background:#fff;
    color:#5f6368;
}
.google-add-user-icon{
    height:40px;
    width:auto;
    border-radius:50%;
    background:lightgrey;
    margin:10px
}
.onhover:hover{
    background:#EBF8FF;
    cursor:pointer;
}
/*main area*/
main{
    width: 100%;
    height:calc(100vh - 160px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    grid-column:1/5;
}
main section{
    height:auto;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    padding:20px;
}
.logo-container img{
    height: 92px;
    width:auto;
}
.navigation-container{
    width:100%;
    height:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}
.nav-input-group{
    margin:30px;
    max-width:600px;
    width:80%;
    height:44px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:30px;
    border:1px solid #D1D1D1;
    position:relative;
}
.nav-input-group:hover{
    box-shadow:1px 1px 3px grey;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-top-right-radius:21px;
    border-top-left-radius:21px;
}
.nav-input-group:hover > .search-history{
    visibility:visible;
}
.search-lent{
    width:18px;
    height:18px;
    border-radius:30px;
    padding-left:15px;
}
.search-bar{
    height:25px;
    width:85%;
    font-size:15px;
    border:none;
}
.search-bar:focus{
    outline:none;
}
.search-mic{
    width:15px;
    height:100%;
    border-radius:30px;
    padding-right:15px;
}
.search-mic-link{
    text-decoration:none;
    position:relative;
}
.search-mic-link__flag{
    background:#000;
    -webkit-clip-path: polygon(35% 58%, 35% 58%, 0 58%, 0 100%, 20% 100%, 43% 100%, 80% 100%, 100% 100%, 100% 58%, 65% 58%, 65% 58%, 50% 30%);
    clip-path: polygon(35% 58%, 35% 58%, 0 58%, 0 100%, 20% 100%, 43% 100%, 80% 100%, 100% 100%, 100% 58%, 65% 58%, 65% 58%, 50% 30%);
    width:100px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position:absolute;
    left:-40px;
    z-index:50;
    display:none;
}
.search-mic-link:hover .search-mic-link__flag{
    display:flex;
}
.search-mic-link__flag h6{
    color:#fff;
    margin-bottom:4px;
}
/*search block area*/
.search-history{
    visibility:hidden;
    color:#f8f9fa;
    position:absolute;
    top:34px;
    width:100%;
    height:auto;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    background:#fff;
    box-shadow:1px 6px 5px grey;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}
.search-input-group{
    height:auto;
    width:85%;
    padding-top:20px;
    padding-bottom:10px;
    display:flex;
    justify-content:center;
}
.search-input-group a{
    width:160px;
    height:35px;
    background:#f8f9fa;
    border-radius:4px;
    text-decoration:none;
    color:#3c4043;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:8px;
}
.search-input-group a:hover{
    border:1px solid #D1D1D1;
    box-sizing:border-box;
    cursor:pointer;
}
/*search container area*/
.search-container{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
/*lang area*/
.search-lang-group{
    width:85%;
    height:auto;
    display:flex;
    justify-content:center;
    padding:15px 0px;
}
.search-lang-group a{
    margin:5px;
    color:blue;
    text-decoration:none;
}
.search-lang-group a:hover{
    text-decoration:underline;
}
.search-lang-group > h5{
    margin:5px;
}
/*footer area*/
footer{
    min-height:100px;
    height:auto;
    grid-column:1/5;
    background:#F1F1F1;
    box-sizing:border-box;
}
footer > h5{
    margin:15px 0px 15px 35px;
    color:#70757a;
}
footer hr{
    opacity:0.2;
}
.footer-content{
    margin:0px 35px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-content__item{
    display:flex;
    width:auto;
    flex-wrap:wrap;
}
.footer-content__item a{
    text-decoration:none;
    color:#70757a;
    margin:15px 0px;
}
.footer-content__item a:hover{
    text-decoration:underline;
}
.right-side{
    justify-content:flex-end;
}
.right-side a{
    margin-left:18px;
}
.left-side{
    justify-content:flex-start;
}
.left-side a{
    margin-right:18px;
}

.preferences-link{
    background:red;
    color:#70757a;
    position:relative;
}
.preferences-container{
    position:absolute;
    height:300px;
    width:200px;
    bottom:60px;
    background:#fff;
    padding-left:5px;
    box-sizing:border-box;
    display:flex;
    align-items:flex-start;
    border:1px solid #70757a;
    z-index:100;
}
.preferences-container ul li{
    list-style:none;
}
.preferences-link:hover > .preferences-container{ 
    background:black;
}
